.shared-panel-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6em);
  mat-toolbar {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 2em;
    border-radius: 1em;
  }
}
